<%= form_for(@fct_visit) do |f| %>
  <% if @fct_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fct_visit.errors.count, "error") %> prohibited this fct_visit from being saved:</h2>

      <ul>
      <% @fct_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
